/* #search-box {
    color: black;
    width: 200px;
}

.option {
    border-radius: 50%;
}


.checkbox-list {
    
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.checkbox-list-item {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: rgb(58, 58, 58);
    width: 200px;
    height: 40px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    position: relative;
}

.checkbox-list-item:hover {
    background-color: gray;
}

.checkbox {
    display: none;
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
}



#check1:checked ~ #check1img,
#check2:checked ~ #check2img,
#check3:checked ~ #check3img,
#check4:checked ~ #check4img,
#check5:checked ~ #check5img,
#check6:checked ~ #check6img,
#check7:checked ~ #check7img,
#check8:checked ~ #check8img
{
    position: relative;
    display: block;
    position: absolute;
    left: 165px;
    z-index: 1;
}

.checkbox-description {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 15px;
    
}

.list-wrapper {
    width: 100%;
}

#check1img, 
#check2img, 
#check3img, 
#check4img {
    position: absolute;
    left: 0;
    display: none;
}

.label {

    width: 200px;

} */