/* For Webkit browsers (Chrome, Safari) */
html > ::-webkit-scrollbar {
    width: 12px;
    display: none;
  }
  
::-webkit-scrollbar-thumb {
  background-color: #808080;
  border-radius: 6px;
}
  
  /* For Firefox */
  html > ::-moz-scrollbar {
    width: 12px;
    display: none;
  }
  
  ::-moz-scrollbar-thumb {
    background-color: #808080;
    border-radius: 6px;
  }
  
  /* For Internet Explorer and Edge */
  /* Note: These styles might not work in the latest versions of Edge as they move towards adopting the Chromium engine */
html > ::-ms-scrollbar {
    width: 12px;
    display: none;
  }
  
  ::-ms-scrollbar-thumb {
    background-color: #808080;
    border-radius: 6px;
  }
  