/* Base Styles */

body {
    height: 100%;
    width: 100%;
    min-width: 400px;
    background-color: #2e2e2e;
    margin: 0;
}


/* Toolbar styling */
.toolbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 50px;
    width: 100vw;
    background-color: #222222;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 25;
    align-items: center;
    padding: 0;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.1); /* Adjust the box-shadow values */
}

.toolbar h1 {
    display:inline-flex;
    float: left;
    color: #FFD23F;
    font-family:'Courier New', Courier, monospace;
    padding-left: 20px;
}

.toolbar button {
    display:inline-flex;

}


/* Drawer Controls */
#expand-drawer {
    padding-right: 20px;
    color: #FFD23F;
}

#expand-drawer:hover {
    padding-right: 20px;
    color: #ffe695;

}

#close-drawer {
    display: block;
    padding-left: 15px;
    position: absolute;
    left: 0px;
    color: #FFD23F;
}

#close-drawer:hover {
    color: #ffe695;
}

#drawer-checkbox:checked ~ #drawer {
    position: fixed;
    right: 0px;
}


#drawer-checkbox {
    display: none;   
}

#drawer-checkbox:checked ~ #drawer {
    position: fixed;
    right: 0px;
}  

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 40; 
    background-color: rgba(0, 0, 0, 0.5);
  }

#drawer-checkbox:checked ~ .overlay {
    display: block;
}

/* Drawer Styles */

#drawer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 400px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 00px; /* change to -400px */
    overflow-x: hidden;
    z-index: 50;
    background-color: #333333;
    transition: ease all .5s;
    
}

.drawer-section {
    
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #BC0000; */
    border-color: aquamarine;
    border: aquamarine;
    
    border-radius: 10px;
    height: 50px;
}

#card-list {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card-image {
    border-radius: 20px;
    margin: 20px;
    margin-top: 40px;
    max-height: 450px;
}
.card-image:hover {
    box-shadow: -2px -2px 26px 2px #ffffff;
 

}

.imageFileNotFound {
    border-radius: 20px;
    margin: 20px;
    margin-top: 40px;
    max-height: 500px;
    opacity: .5;

}

/* Mobile Styles */

@media only screen and (max-width: 600px) {
 
    #drawer {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: -1000px;
        overflow-x: hidden;
        
        background-color: #333333;
        transition: ease all .5s;
        
    }
    
    .drawer-section {
        height: 50px;
        display: flex;
        align-items: center;
    }
    
    .close-drawer {
        display: block;
        padding-left: 15px;
    }
    
    


}